<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>FirstLevelServlet</servlet-name>
  	<display-name>FirstLevelServlet</display-name>
  	<description></description>
  	<servlet-class>controller.FirstLevelServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SecondLevelServlet</servlet-name>
  	<display-name>SecondLevelServlet</display-name>
  	<description></description>
  	<servlet-class>controller.SecondLevelServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ThirdLevelServlet</servlet-name>
  	<display-name>ThirdLevelServlet</display-name>
  	<description></description>
  	<servlet-class>controller.ThirdLevelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FirstLevelServlet</servlet-name>
  	<url-pattern>/level1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SecondLevelServlet</servlet-name>
  	<url-pattern>/level2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ThirdLevelServlet</servlet-name>
  	<url-pattern>/level3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>default</servlet-name>
  	<url-pattern>*.css</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>default</servlet-name>
  	<url-pattern>*.svg</url-pattern>
  </servlet-mapping>
</web-app>
